.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #92bcdf;

}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 25px;
}

label,
input,
select {
    margin-right: 10px;
}

button {
    margin-left: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #f7f4f4;
}

th {
    background-color: #eee;
}